.header-wrapper{
    background: #000;
   
    
}

.initial-content{
  height: 100vh;
  width: 100%;
  background-color:var(--accent-background);
  display: flex;
  justify-content: center;
  
  
}
.tagline{
    height: 100%;
    width: 100%;
    background-image: url(../images/pyr.png);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.books-wrapper{
    height: 500px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding: 40px;


}
.tagline h2{
    color: var(--font-primary-color);
     font-size: clamp(1.8rem, 10vw, 5rem);
     font-weight: bolder;
}
.books{
    padding: 0 10px;
    width: 80%;
    height: auto;
    animation: slide 10s infinite linear;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
   
}
.books:hover .boxb:not(:hover){
    filter: grayscale(80%);
    opacity: .5;
    -webkit-filter: grayscale(80%);
}
.boxb{
     transition: all .3s ease-in-out;
}
.boxb:hover{
    filter: grayscale(0);
    opacity: 1;
    scale: 1.2;
    -webkit-filter: grayscale(0);
}
.books img{
    height: 300px;
    width: 100%;
    
    
}
/*toolt*/
.tools{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    gap: 30px;
    
}
#tool{
    font-size: clamp(1.8rem, 10vw, 5rem);
    font-weight: bolder;
    color: var(--font-primary-color);
    position: relative;
}
#tool::before{
    content: '';
    width: 100%;
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: var(--font-button);
    position: absolute;
}
.tool-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max (300px,80%);
    filter: invert(40%);
    gap: 10px;
    
}
.tool-wrapper img{
   width: min(55px,80px);
}
@media screen and (max-width:768px){
  /*--content header--*/
.header-content{
    height: 100%;
    width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   
}
.header-content h3{
    display:none;
}
.vid{
    display: none;
}
.mobile-title{
    display: block;
    font-size: clamp(3.5rem , 10vw, 5rem);
    text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    text-align: center;
  font-weight: 900;
   padding: 0 .5em;


}
.btn-header{
    background-color: transparent;
    color: var(--font-button);
    font-size: 1.2rem;
    position: absolute;
   bottom: 15%;
   padding: 20px 30px;
   border-radius: 20px;
   
}

    .tagline{
    height: 100%;
    width: 100%;
    background-image: url(../images/pyr.png);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.books-wrapper{
    height: 500px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding: 40px;
     overflow-y:hidden;


}
.books-wrapper::-webkit-scrollbar{
    display: none;
}
.tagline h2{
    color: var(--font-primary-color);
     font-size: clamp(1.8rem, 10vw, 5rem);
     font-weight: bolder;
}
.books{
    padding: 0 10px;
    width: 100%;
    height: auto;
    animation: slide 10s infinite linear;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    
}
.books img{
    height: 150px;
    width: 100%;
    
    
}
}
